; BIND data file for 168.192.in-addr.arpa zone
;
$TTL    604800
@       IN      SOA     ns.168.192.in-addr.arpa. admin.168.192.in-addr.arpa. (
                             3         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL

; NS records for each DNS server
{% for host in groups['dns_servers'] %}
168.192.in-addr.arpa.  IN  NS   {{ host }}.{{ startup_name }}.
{% endfor %}

; A records for each NS record
{% for dns_server in groups['dns_servers'] %}
{{ dns_server }}  IN  A   {{ hostvars[dns_server]['ansible_default_ipv4']['address'] }}
{% endfor %}

; PTR records for VMs
{% for dns_server in groups['dns_servers'] %}
{% set ip_parts = hostvars[dns_server]['ansible_default_ipv4']['address'].split('.') %}
{{ ip_parts[-1] }}.{{ ip_parts[-2] }}  IN  PTR  {{ hostvars[dns_server]['inventory_hostname'] }}.{{ startup_name }}.
{% endfor %}
