options {
    directory "/var/cache/bind";

    forwarders {
        {% for forwarder in dns_forwarders %}
        {{ forwarder }};
        {% endfor %}
    };

    allow-query {
        {% for network in allowed_networks %}
        {{ network }};
        {% endfor %}
        grafana_network;
    };

    recursion yes;  // Enable recursive queries
    allow-recursion { grafana_network; }; 
};

zone "{{ startup_name }}" {
    type master;
    file "/var/lib/bind/db.{{ startup_name }}"; 
};

statistics-channels {
    inet 127.0.0.1 port 8053; 
}; 

acl grafana_network {
    172.17.0.0/16;
};
