key "transfer.key" {
	algorithm hmac-sha256;
	secret "{{ transfer_key }}";
};

key "update.key" {
	algorithm hmac-sha256;
	secret "{{ update_key}}";
};


options {
    directory "/var/cache/bind";

    forwarders {
        {% for forwarder in dns_forwarders %}
        {{ forwarder }};
        {% endfor %}
    };

    allow-query {
        {% for network in allowed_networks %}
        {{ network }};
        {% endfor %}
    };

};


statistics-channels {
    inet localhost port 8053; 
}; 
