options {
    directory "/var/cache/bind";

    forwarders {
        {% for forwarder in dns_forwarders %}
        {{ forwarder }};
        {% endfor %}
    };

    allow-query {
        {% for network in allowed_networks %}
        {{ network }};
        {% endfor %}
    };
};

zone "{{ startup_name }}" {
    type master;
    file "/var/lib/bind/db.{{ startup_name }}"; 
};

statistics-channels {
    inet 127.0.0.1 port 8053; 
}; 

